/* Color */
:root {
  --color-background: #232627;
  --color-background-qA: #1b1a1a;
  --color-text-assistant-name: #11d116;
  --color-text-user-name: #1d99f3;
  --color-text: #eff0f1;
  --color-link: #c572c5;
}

/* Size */
:root {
  --font-size: 1rem;
  --height-button: 1.8rem;
}

/* Padding, Margin */
:root {
  --padding-lr-layout: 2rem;
  --padding-tb-layout: 0;
  --padding-lr-btn: 1rem;
  --padding-tb-btn: 1.25rem;
  --padding-qA: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    'Source Sans 3',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

footer a {
  color: var(--color-background);
}

li {
  list-style-type: none;
}

p {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  background-color: var(--color-background-qA);
  padding: var(--padding-qA);
  border-radius: 0.2rem;
}

p[contenteditable] {
  caret-color: var(--color-text);
  font-weight: 500;
  letter-spacing: inherit;
  padding: 0;
}

button {
  height: var(--height-button);
  width: fit-content;
  background-color: var(--color-text);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  font-size: var(--font-size);
  color: var(--color-background);
  padding: var(--padding-tb-btn) var(--padding-lr-btn);
  font-weight: inherit;
  letter-spacing: inherit;
}

button:hover {
  cursor: pointer;
}

footer {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main,
  footer {
    width: 50%;
  }
}

@media screen and (min-width: 2048px) {
  main,
  footer {
    width: 35%;
  }
}
