@import './base.css';

#app {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

footer a {
  color: var(--color-background);
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  /* background-color: var(--color-background); */
  /* color: var(--color-text); */
  caret-color: var(--color-text);
  font-weight: 500;
  letter-spacing: inherit;
  padding: 0.25rem;
  width: 100%;
  height: fit-content;
  white-space: pre-wrap;
}

textarea {
  resize: none;
  width: 100%;
  overflow-y: hidden;
}

p[contenteditable] {
  width: 100%;
  caret-color: var(--color-text);
  font-weight: 500;
  letter-spacing: inherit;
  white-space: pre-wrap;
}

button {
  height: var(--height-button);
  width: fit-content;
  background-color: var(--color-text);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  font-size: var(--font-size);
  color: var(--color-background);
  padding: var(--padding-tb-btn) var(--padding-lr-btn);
  font-weight: inherit;
  letter-spacing: inherit;
}

button:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-evenly-x {
  justify-content: space-evenly;
}

.p-relative {
  position: relative;
}

.gap-fs {
  gap: 0.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
