@import './base.css';

#app {
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-evenly-x {
  justify-content: space-evenly;
}

.p-relative {
  position: relative;
}

.gap-fs {
  gap: 0.5rem;
}

.gap-2fs {
  gap: 1rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-light {
  fill: var(--color-text);
}

.button-submit {
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
