@import './base.css';

#app {
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
  caret-color: var(--color-text);
}

.flex {
  display: flex;
}

.gap-fs {
  gap: calc(var(--font-size) / 3);
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
